@model NguyenVanToanBTH2.Models.Employee
@{
    string id = @Guid.NewGuid().ToString("N");
}
<form asp-action="Create" method="post" class="col-6">
    <input type="hidden" asp-for="EmployeeID" value=@id>
    <div class="mb-3">
        <label for="std-name" class="form-label">Employee Name: </label>
        <input type="text" class="form-control" id="std-name" asp-for="EmployeeName">
  </div>
  <button type="submit" class="btn btn-succcess"> Submit</button>
</form>