@model IEnumerable<NguyenVanToanBTH2.Models.Employee>
    <p>
        <a class="btn btn-success" asp-action="Create">Createa new Employee</a>
    
    </p>
    <table class="table table-all" >
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=> item.EmployeeID)</td>
                <td>@Html.DisplayFor(m=> item.EmployeeName)</td>
            </tr>
        }
        
    </table>