@model IEnumerable<NguyenVanToanBTH2.Models.Customer>
    <p>
        <a class="btn btn-success" asp-action="Create">Createa new Customer</a>
    
    </p>
    <table class="table table-all" >
        <tr>
            <th>Customer Id</th>
            <th>Customer Name</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=> item.CustomerID)</td>
                <td>@Html.DisplayFor(m=> item.CustomerName)</td>
            </tr>
        }
        
    </table>